*{
    box-sizing: border-box;
}

.box {
    width: 400px;
    height: 400px;
    margin: 10% auto;
    border: dotted 10px rgba(0,0,0,0.9);
    padding: 70px;
}

.container{

}


.produto {
    justify-content: center;
    display: flex;
    padding: 10px;
}


.produto img {
    width: 110px;
    height: 90px;
    border-radius: 10px;
}

.produto img:hover {
    transform: scale(1.1);
}

.titulo_produto {
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    color:darkgrey
}

.descr_produto {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 10px;
    color:darkgrey
}

.btn_somar {
    justify-content: center;
    display: flex;
    width: 20px;
    height: 20px;
    background-color: chocolate;
}
